<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12">
        <img src="assets/img/logo.png" class="image">
        <ion-text>
          <p class="header">Super Brains</p>
          <p class="sub-header">Beyond your expectations</p>
        </ion-text>
        <ion-button color="primary" (click)="generateToken()" class="btn">Request OTP</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>