.image {
  width: 160px;
}

.header {
  font-size: xx-large;
  font-weight: bolder;
  color: var(--ion-color-primary);
  margin: 24px 0px 0px 0px;
}

.sub-header {
  font-size: medium;
  color: #5eb555;
  margin: 16px 0px 0px 0px;
}

.btn {
  margin: 32px 0px 0px;
}